spring:
  application:
    name: clearcall
  datasource:
    url: jdbc:mariadb://localhost:3379/callcenter
    username: calluser
    password: callpass
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: UTC
        type:
          preferred_enum_type: STRING
  flyway:
    enabled: true
    locations: classpath:db/migration
  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui
  api-docs:
    path: /v3/api-docs

jwt:
  access-secret: ${JWT_ACCESS_SECRET:change-this-access-secret-please-32bytes-minimum}
  call-secret: ${JWT_CALL_SECRET:change-this-call-secret-please-32bytes-minimum}
  access-exp-minutes: 60
  call-exp-minutes: 5

app:
  fastapi-url: http://localhost:8000
